.background-yellow {
    -fx-background-color: #f5c518;
}

.background-black {
    -fx-background-color: #000000;
}

.background-light-black {
    -fx-background-color: #454545;
}

.text-yellow {
    -fx-text-fill: #f5c518;
    -fx-font-weight:bold;
}
.text-green {
    -fx-text-fill: #18f523;
    -fx-font-weight:bold;
}
.text-orange {
    -fx-text-fill: #f57418;
    -fx-font-weight:bold;
}
.text-purple {
    -fx-text-fill: #f518e3;
    -fx-font-weight:bold;
}
.text-red {
    -fx-text-fill: #f51818;
    -fx-font-weight:bold;
}
.text-white {
    -fx-text-fill: #ffffff;
}

.list-view .list-cell:even {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.movie-cell {
    -fx-background-color: black;
    -fx-padding: 2;
}
.text-blue {
    -fx-text-fill: #6d91ff;
    -fx-font-size: 14px;
    -fx-font-weight:bold;
}
.jfx-combo-box{
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight:bold;

}
.jfx-combo-box .label {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight:bold;
}
.jfx-combo-box .arrow-button .arrow {
    -fx-background-color: black;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #454545;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
    -fx-shape: " ";
}
.star-button {
    -fx-background-color: #f5c518;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight:bold;
}
.star-button:hover {
    -fx-background-color: #d2a200;
}
.hoverEffect {
    -fx-background-color: #f5c518;
    -fx-text-fill: black;
}
.hoverEffect:hover {
    -fx-background-color: #d2a200;
}

#startYear {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-radius: 0 0 0 3;
    -fx-border-color: transparent black transparent transparent;
    -fx-border-width: 0 1px 0 0;
}
#endYear {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-radius: 0 0 3 0;
    -fx-border-color: transparent transparent transparent black;
    -fx-border-width: 0 0 0 1px;
}
#filterYears{
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-radius: 3 3 0 0;
}